truncate table dbversion;
go
insert into dbversion(dbversion) values ('9.0.0.1');
go
ALTER INDEX ALL ON Action_Output REBUILD
GO
ALTER INDEX ALL ON ActionList REBUILD
GO
ALTER INDEX ALL ON ActionListState REBUILD
GO
ALTER INDEX ALL ON Address_Book REBUILD
GO
ALTER INDEX ALL ON Address_Book_Custom_Field REBUILD
GO
ALTER INDEX ALL ON Admin_Group REBUILD
GO
ALTER INDEX ALL ON Administrator_Level REBUILD
GO
ALTER INDEX ALL ON Answer_File REBUILD
GO
ALTER INDEX ALL ON AssetStorage REBUILD
GO
ALTER INDEX ALL ON AuditLog REBUILD
GO
ALTER INDEX ALL ON Business_Unit REBUILD
GO
ALTER INDEX ALL ON Category REBUILD
GO
ALTER INDEX ALL ON ConnectorSettings_BusinessUnit REBUILD
GO
ALTER INDEX ALL ON ConnectorSettings_ElementType REBUILD
GO
ALTER INDEX ALL ON ConnectorSettings_Type REBUILD
GO
ALTER INDEX ALL ON Content_Folder REBUILD
GO
ALTER INDEX ALL ON Content_Folder_Group REBUILD
GO
ALTER INDEX ALL ON Content_Item REBUILD
GO
ALTER INDEX ALL ON Content_Item_Placeholder REBUILD
GO
ALTER INDEX ALL ON Content_Type REBUILD
GO
ALTER INDEX ALL ON ContentData_Binary REBUILD
GO
ALTER INDEX ALL ON ContentData_Binary_Version REBUILD
GO
ALTER INDEX ALL ON ContentData_Text REBUILD
GO
ALTER INDEX ALL ON ContentData_Text_Version REBUILD
GO
ALTER INDEX ALL ON Custom_Field REBUILD
GO
ALTER INDEX ALL ON CustomQuestion_InputType REBUILD
GO
ALTER INDEX ALL ON CustomQuestion_Output REBUILD
GO
ALTER INDEX ALL ON CustomQuestion_Type REBUILD
GO
ALTER INDEX ALL ON Data_Object REBUILD
GO
ALTER INDEX ALL ON Data_Object_Display REBUILD
GO
ALTER INDEX ALL ON Data_Object_Key REBUILD
GO
ALTER INDEX ALL ON Data_Service REBUILD
GO
ALTER INDEX ALL ON Document REBUILD
GO
ALTER INDEX ALL ON EscalationProperties REBUILD
GO
ALTER INDEX ALL ON EventLog REBUILD
GO
ALTER INDEX ALL ON Folder REBUILD
GO
ALTER INDEX ALL ON Folder_Group REBUILD
GO
ALTER INDEX ALL ON Global_Options REBUILD
GO
ALTER INDEX ALL ON Group_Output REBUILD
GO
ALTER INDEX ALL ON Intelledox_User REBUILD
GO
ALTER INDEX ALL ON Intelledox_UserDeleted REBUILD
GO
ALTER INDEX ALL ON JobDefinition REBUILD
GO
ALTER INDEX ALL ON License_Key REBUILD
GO
ALTER INDEX ALL ON LoggedOutSessions REBUILD
GO
ALTER INDEX ALL ON Password_History REBUILD
GO
ALTER INDEX ALL ON Permission REBUILD
GO
ALTER INDEX ALL ON ProcessJob REBUILD
GO
ALTER INDEX ALL ON Question_Type REBUILD
GO
ALTER INDEX ALL ON RecurrencePattern REBUILD
GO
ALTER INDEX ALL ON Role_Permission REBUILD
GO
ALTER INDEX ALL ON Routing_ElementType REBUILD
GO
ALTER INDEX ALL ON Routing_Type REBUILD
GO
ALTER INDEX ALL ON StoredWizard REBUILD
GO
ALTER INDEX ALL ON Template REBUILD
GO
ALTER INDEX ALL ON Template_File REBUILD
GO
ALTER INDEX ALL ON Template_File_Version REBUILD
GO
ALTER INDEX ALL ON Template_Group REBUILD
GO
ALTER INDEX ALL ON Template_Recent REBUILD
GO
ALTER INDEX ALL ON Template_Styles REBUILD
GO
ALTER INDEX ALL ON Template_Version REBUILD
GO
ALTER INDEX ALL ON User_Address_Book REBUILD
GO
ALTER INDEX ALL ON User_Group REBUILD
GO
ALTER INDEX ALL ON User_Group_Role REBUILD
GO
ALTER INDEX ALL ON User_Group_Subscription REBUILD
GO
ALTER INDEX ALL ON User_Group_Template REBUILD
GO
ALTER INDEX ALL ON User_Role REBUILD
GO
ALTER INDEX ALL ON User_Session REBUILD
GO
ALTER INDEX ALL ON Workflow_Escalation REBUILD
GO
ALTER INDEX ALL ON Xtf_ContentLibrary_Dependency REBUILD
GO
ALTER INDEX ALL ON Xtf_Datasource_Dependency REBUILD
GO
ALTER INDEX ALL ON Xtf_Fragment_Dependency REBUILD
GO
